{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="ariane">
        <div class="breadcrumb flat">
            <a href="{{ path('app_panier') }}" class="active">Panier</a>
            <a href="#">Connexion / Inscription</a>
            <a href="#">Paiement</a>
            <a href="#">Validation</a>
        </div>
    </div>
{#    <div class="panier-card">#}
{#        <div class="panier-img">#}
{#            <img src="{{ asset('images/affiche/affiche.png') }}" alt="Affiche">#}
{#        </div>#}
{#        <div class="panier-event-info">#}
{#            <h2>Rammstein</h2>#}
{#            <p>Samedi 22 juillet 2023</p>#}
{#            <p>Stade de l'Aube</p>#}
{#            <p>20h</p>#}
{#        </div>#}
{#        <div class="panier_place">#}
{#            <div class="panier_quantite">#}
{#                <div class="nbp">#}
{#                    <label for="nbp">Nombre de place : </label>#}
{#                    <select name="place" id="nbplace-select">#}
{#                        <option value="1">1</option>#}
{#                        <option value="2">2</option>#}
{#                        <option value="3">3</option>#}
{#                        <option value="4">4</option>#}
{#                        <option value="5">5</option>#}
{#                        <option value="5">6</option>#}
{#                    </select>#}
{#                </div>#}
{#                <div class="prix">#}
{#                    <label for="#">Prix à l'unité : 70 €</label>#}
{#                </div>#}
{#                <a href="#"><img src="{{ asset('images/ico/poubelle.png') }}" alt="Affiche" width="20px"></a>#}
{#            </div>#}
{#            <div class="prixTotal">#}
{#                <p>Prix total : 140 €</p>#}
{#                <div class="bouton_commander">#}
{#                    <a href="{{ path('app_login') }}">COMMANDER</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="backhomebutton">#}
{#        <div class="back_home">#}
{#            <a href="{{ path('app_index') }}?id_event=1">RETOUR À L'ACCUEIL</a>#}
{#        </div>#}
{#    </div>#}
    <table>
        <thead>
        <tr>
            <th>article</th>
            <th>quantite</th>
            <th>prix unitaire</th>
            <th>prix total</th>
        </tr>
        <thead>
        <tbody id="zone">



        </tbody>
        <tfoot><tr><td id="bas" colspan="3"></td><td><span id="total">0</span>€</td></tr></tfoot>
        <table/>
        <hr>
        <form action="finalisation.php" method="post">
            <input type="hidden" name="liste" id="liste">
            <input type="submit" value="Valider ma commande.">
        </form>
    </table>

{#    <div class="panier-card">#}
{#        <div class="panier-img">#}
{#            <img src="{{ asset('images/affiche/affiche.png') }}" alt="Affiche">#}
{#        </div>#}
{#        <div class="panier-event-info">#}
{#        </div>#}
{#        <div class="panier_place">#}

{#        </div>#}

{#        <div class="topCart">#}
{#            <img src="{{ asset('images/affiche/affiche.png') }}" alt="">#}
{#            <div class="details">#}
{#                <h2>Rammstein</h2>#}
{#                <p>Samedi 22 juillet 2023</p>#}
{#                <p>Stade de l'Aube</p>#}
{#                <p>21h</p>#}
{#            </div>#}
{#            <div class="qte">#}
{#                <div class="nbp">#}
{#                    <label for="nbp">Nombre de place : </label>#}
{#                    <input type="number">#}
{#                </div>#}
{#                <div class="prix">#}
{#                    <label for="#">Prix à l'unité : </label>#}
{#                    <p>70 €</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="prixTotal">#}
{#            <p>Prix total : 140 €</p>#}
{#            <a href="#" class="command">Commander</a>#}
{#        </div>#}
    </div>
    <a href="{{ path('app_programmation') }}" class="command">Continuer mes achats</a>
{% endblock %}
