{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="ariane">
        <div class="breadcrumb flat">
            <a href="{{ path('app_panier') }}" class="active">Panier</a>
            <a href="#">Connexion / Inscription</a>
            <a href="#">Paiement</a>
            <a href="#">Validation</a>
        </div>
    </div>
    <div class="panier-card">
        <div class="panier-img">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="Affiche">
        </div>
        <div class="panier-event-info">
            <h2>Rammstein</h2>
            <p>Samedi 22 juillet 2023</p>
            <p>Stade de l'Aube</p>
            <p>20h</p>
        </div>
        <div class="panier_place">
            <div class="panier_quantite">
                <div class="nbp">
                    <label for="nbp">Nombre de place : </label>
                    <select name="place" id="nbplace-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5">6</option>
                    </select>
                </div>
                <div class="prix">
                    <label for="#">Prix à l'unité : 70 €</label>
                </div>
                <a href="#"><img src="{{ asset('images/ico/poubelle.png') }}" alt="Affiche" width="20px"></a>
            </div>
            <div class="prixTotal">
                <p>Prix total : 140 €</p>
                <div class="bouton_commander">
                    <a href="{{ path('app_login') }}">COMMANDER</a>
                </div>
            </div>
        </div>
    </div>
    <div class="backhomebutton">
        <div class="back_home">
            <a href="{{ path('app_index') }}?id_event=1">RETOUR À L'ACCUEIL</a>
        </div>
    </div>
{% endblock %}
