{% extends 'base.html.twig' %}

{% block title %}Rammstein{% endblock %}

{% block body %}
<div class="event_page">
    <div class="event_info">
        <div class="event_img">
            <img src="{{ asset('images/affiche/'~ event[id].manifAffiche) }}" alt="Image de l'évènement" class="event_img">
        </div>
        <div class="event_nom_lieu_prix">
            <div>
                <h1 id="article">{{ event[id].manifTitre }}</h1>
                <h2>{{ event[id].manifDate }}</h2>
{#                <h2>{{ event[id].manifLieu}}</h2>#}
                <h2>{{ event[id].manifHoraire }}</h2>
                <input type="hidden" id="id" value="{{ id }}">
            </div>
            <div class="event_reserver">
                <h3><span id="prix">{{ event[id].manifPrix }}</span> €</h3>
                <div class="bouton_reserver">
                    <input type="number" value="1" min="1" max="99" id="qte">
                    <button id="ajout">➕ RÉSERVER</button>
                </div>
            </div>
        </div>
    </div>
    <div class="event_description">
        <p>{{ event[id].manifDescription }}</p>
    </div>
    <div class="backhomebutton">
        <div class="back_home">
            <a href="{{ path('app_index') }}?id_event=1">RETOUR À L'ACCUEIL</a>
        </div>
    </div>
</div>
{% endblock %}
