{% extends 'base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block body %}
    <h2>Concerts</h2>
    <div id="concert">
        <img src="{{ asset('images/ico/fleche_gauche.svg') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/ico/fleche_droite.svg') }}" alt="">
    </div>
    <h2>Football</h2>
    <div id="football">
        <img src="{{ asset('images/ico/fleche_gauche.svg') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/ico/fleche_droite.svg') }}" alt="">
    </div>
    <h2>Spectacles</h2>
    <div id="spectacle">
        <img src="{{ asset('images/ico/fleche_gauche.svg') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
        <img src="{{ asset('images/ico/fleche_droite.svg') }}" alt="">
    </div>
{% endblock %}
