{% extends 'base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block body %}
<<<<<<< HEAD
<<<<<<< HEAD
    <h2>Concerts</h2>
    <div id="concert" class="prog_box">
        <img src="{{ asset('images/ico/fleche_gauche.svg') }}" alt="">
        <div class="prog_card">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
            <div class="prog_data">
                <p>Date : xx/xx/xxxx</p>
                <a href="{{ path('app_event') }}?id_event=1">Réserver</a>
=======
    {{ dump() }}
    <div class="prog_box">
    {% for i in prog %}
            <div class="prog_card">
                <img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt="">
                <div class="prog_data">
                    <p>Date : {{ i.manifDate }}</p>
                    <a href="#">Réserver</a>
                </div>
>>>>>>> dataInt
            </div>
<<<<<<< HEAD
    {% endfor %}
=======
=======
    <div class="concerts">
        <h2>Concerts</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide1">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Rammstein</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-button-next1 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev1 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
>>>>>>> view
        </div>
    </div>

    <div class="football">
        <h2>Football</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide2">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Rammstein</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-button-next2 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev2 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="spectacle">
        <h2>Spectacles</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide3">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Rammstein</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{{ asset('images/affiche/affiche.png') }}" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">David Dell</h2>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">Réserver</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-button-next3 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev3 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
<<<<<<< HEAD
        <div class="prog_card">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
            <div class="prog_data">
                <p>Date : xx/xx/xxxx</p>
                <a href="#">Réserver</a>
            </div>
        </div>
        <div class="prog_card">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
            <div class="prog_data">
                <p>Date : xx/xx/xxxx</p>
                <a href="#">Réserver</a>
            </div>
        </div>
        <img src="{{ asset('images/ico/fleche_droite.svg') }}" alt="">
>>>>>>> view
=======
>>>>>>> view
    </div>

    <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('js/swiper.js') }}"></script>



{% endblock %}
