{% extends 'base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block body %}
{#<div class="concerts">#}
{#            <h2>CONCERTS</h2>#}
{#            <div class="slide-container swiper">#}
{#                <div class="slide-content slide1">#}
{#                    <div class="card-wrapper swiper-wrapper">#}
{#                            <div class="card swiper-slide">#}
{#                                <div class="image-content">#}
{#                                    <span class="overlay"></span>#}

{#                                    <div class="card-image">#}
{#                                        <img src="{{ asset('images/affiche/rammstein.jpg' ) }}" alt="" class="card-img">#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="card-content">#}
{#                                    <h2 class="name">Rammstein</h2>#}
{#                                    <p class="description">Lorem</p>#}

{#                                    <button class="button"><a href="{{ path('app_event') }}?id_event=1">Réserver</a></button>#}
{#                                </div>#}
{#                            </div>#}
{#                    </div>#}
{#                </div>#}
    <div class="concerts">
        <h2>CONCERTS</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide1">
                <div class="card-wrapper swiper-wrapper">
                    {% for i in concert %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">{{ i.manifTitre }}</h2>

                                <a href="{{ path('app_event') }}?id_event={{ i.id }}" class="button"><button>Réserver</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-button-next1 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev1 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="spectacle">
        <h2>Spectacle</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide2">
                <div class="card-wrapper swiper-wrapper">
                    {% for i in spectacle %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">{{ i.manifTitre }}</h2>

                                <a href="{{ path('app_event') }}?id_event={{ i.id }}" class="button"><button>Réserver</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-button-next2 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev2 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="football">
        <h2>Football</h2>
        <div class="slide-container swiper">
            <div class="slide-content slide3">
                <div class="card-wrapper swiper-wrapper">
                    {% for i in football %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt="" class="card-img">
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">{{ i.manifTitre }}</h2>

                                <a href="{{ path('app_event') }}?id_event={{ i.id }}" class="button"><button>Réserver</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-button-next3 swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-button-prev3 swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <script src="{{ asset('js/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('js/swiper.js') }}"></script>
{% endblock %}
