{% extends 'base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block body %}
    <input type="text" id="search">
    <div id="result"></div>
        <div class="prog_box" id="filter">
            {% for i in prog %}
                <div class="prog_card">
                    <p><span class="">{{ i.manifTitre }}</span></p>
                    <a href="{{ path('app_event') }}?id_event={{ i.id }}"><img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt=""></a>
                    <div class="prog_data">
                        <p>Date : {{ i.manifDate }}</p>
                        <a href="{{ path('app_event') }}?id_event={{ i.id }}">Réserver</a>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}
