<footer>
    <div id="topFooter">
        <img src="{{ asset('images/logo/3event.png') }}" alt="">
        <div class="footerBox">
            <h2>Stade de l'aube</h2>
            <hr>
            <p>42 Av. Robert Schumann,<br /> 10000 Troyes</p>
            <a href="https://www.google.fr/maps/place/42+Av.+Robert+Schumann,+10000+Troyes/@48.3073049,4.0969567,17z/data=!3m1!4b1!4m5!3m4!1s0x47ee98bfc0876bd3:0x69071ed37e4ac599!8m2!3d48.3073049!4d4.0991454" target="_blank" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <h2>Le cube</h2>
            <hr>
            <p>20 Rue des Gayettes,<br /> 10000 Troyes</p>
            <a href="https://www.google.fr/maps/place/20+Rue+des+Gayettes,+10000+Troyes/@48.2893688,4.0685298,17z/data=!3m1!4b1!4m5!3m4!1s0x47ee98550b4a9593:0xcd8735cdb397a44e!8m2!3d48.2893688!4d4.0707185" target="_blank" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <h2>Théâtre de Champagne</h2>
            <hr>
            <p>Boulevard Gambetta,<br /> 10000 Troyes
            </p>
            <a href="https://www.google.fr/maps/place/Th%C3%A9%C3%A2tre+de+Champagne/@48.3003527,4.0730024,17z/data=!3m1!4b1!4m5!3m4!1s0x47ee98f63f6b402b:0x73bbf3f8ea11d487!8m2!3d48.3004778!4d4.0750667" target="_blank" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <ul>
                <li><a href="{{ path('app_programmation') }}">Programmation</a></li>
                <li><a href="{{ path('app_salles') }}">Nos salles</a></li>
                <li><a href="{{ path('app_panier') }}">Infos pratiques</a></li>
                <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
            </ul>
        </div>
    </div>
    <p>&copy; 2022 - Tous droits réservés</p>
</footer>