<nav>
    <div id="menu_start">
        <ul>
            <li><a href="{{ path('app_index') }}"><img src="{{ asset('images/logo/3event.png') }}" alt=""></a></li>
            <li><a href="{{ path('app_programmation') }}">Programmation</a></li>
            <li><a href="{{ path('app_salles') }}">Nos salles</a></li>
            <li><a href="#">Infos pratique</a></li>
            <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>
        </ul>
    </div>
    <div id="menu_end">
        <ul>
            <li><input type="text"></li>
            <li><a href="{{ path('app_panier') }}"><img src="{{ asset('images/ico/panier.svg') }}" alt="Panier"></a></li>
            <li><a href="#"><img src="{{ asset('images/ico/profil.svg') }}" alt="Profil"></a></li>
        </ul>
    </div>
</nav>