<nav>
    <div class="toggle">
        <i class="fas fa-bars ouvrir"></i>
        <i class="fas fa-times fermer"></i>
    </div>
    <div id="menu_start" >
        <ul class="menu">
<<<<<<< HEAD
            <li><a href="{{ path('app_index') }}" class="nav_link"><img src="{{ asset('images/logo/3event.png') }}" alt=""></a></li>
=======
            <li><a href="{{ path('app_index') }}"><img src="{{ asset('images/logo/3event.png') }}" alt=""></a></li>
>>>>>>> dataInt
            <li><a href="{{ path('app_programmation') }}" class="nav_link">Programmation</a></li>
            <li><a href="{{ path('app_salles') }}" class="nav_link">Nos salles</a></li>
            <li><a href="#" class="nav_link">Infos pratique</a></li>
            <li><a href="{{ path('app_contact') }}" class="nav_link">Contactez-nous</a></li>
        </ul>
    </div>
    <div id="menu_end">
        <ul class="menutest">
            <li><input type="text"></li>
            <li><a href="{{ path('app_panier') }}"><img src="{{ asset('images/ico/panier.svg') }}" alt="Panier"></a></li>
            <li><a href="#"><img src="{{ asset('images/ico/profil.svg') }}" alt="Profil"></a></li>
        </ul>
    </div>
</nav>